In [20]:
import pandas as pd
data= pd.read_csv('Iris.csv')
data = data.drop('Id',axis=1)
data.sample(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
125            7.2           3.2            6.0           1.8   Iris-virginica
144            6.7           3.3            5.7           2.5   Iris-virginica
44             5.1           3.8            1.9           0.4      Iris-setosa
145            6.7           3.0            5.2           2.3   Iris-virginica
51             6.4           3.2            4.5           1.5  Iris-versicolor

In [21]:
x= data.drop('Species',axis=1)
x.head(5)
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
y= data['Species']
y.head(5)

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [23]:
# Import cross validation instead of Train test split, because train test split will split the data set randomly
from sklearn.model_selection import cross_val_score

# K-NN

In [24]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
# Data set is split in to 5 (cv=5) and avarage is taken (.mean())
cross_val_score(knn, x, y, cv=5).mean()

0.9733333333333334

# Random Forest

In [25]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
# Data set is split in to 5 (cv=5) and avarage is taken (.mean())
cross_val_score(knn, x, y, cv=5).mean()

0.9733333333333334

# Naive Bayes

In [26]:
from sklearn.naive_bayes import GaussianNB
NB = GaussianNB()
# Data set is split in to 5 (cv=5) and avarage is taken (.mean())
cross_val_score(knn, x, y, cv=5).mean()

0.9733333333333334

# Support Vector Machine

In [27]:
from sklearn.svm import SVC
svm = SVC()
# Data set is split in to 5 (cv=5) and avarage is taken (.mean())
cross_val_score(knn, x, y, cv=5).mean()

0.9733333333333334